<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
         <!-- Database connection settings -->
        <property name="connection.driver_class">${jdbc.dialect}</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/SpringCash</property>
        <property name="connection.username">springcashuser</property>
        <property name="connection.password">springcashpass</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <property name="hibernate.hbm2ddl.auto">update</property>


        <!--Mapped classes -->
        <mapping class="io.leonid.springcash.model.BaseEntity" />
        <mapping class="io.leonid.springcash.model.User" />
        <mapping class="io.leonid.springcash.model.Role" />
    </session-factory>
</hibernate-configuration>